@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sliding {
  display: flex;
  animation: swipe 40s linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* SCROLLBAR */
/* width */
.myscrollbar::-webkit-scrollbar {
  width: 8px;
  right: 0;
}

/* Track */
.myscrollbar::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
.myscrollbar::-webkit-scrollbar-thumb {
  background: #222222;
  /* border-radius: 2px; */
}

/* Handle on hover */
.myscrollbar::-webkit-scrollbar-thumb:hover {
  background: #222222;
}
